<div class="col-xs-12 well">
  <div class="row">
    <div class="col-md-1 col-sm-2 col-xs-3">
      <img
        *ngIf="user.photo; else elsePhoto"
        class="img-circle"
        src="{{ user.photo }}"
        alt="{{ user.firstName }} {{ user.surname }}"
      >
      <ng-template #elsePhoto>
        <div class="placeholder img-circle"></div>
      </ng-template>
    </div>

    <div class="col-md-11 col-sm-10 col-xs-9">
      <h3><a routerLink="/users/{{ user.id }}">{{ user.firstName }} {{ user.surname }}</a></h3>
      <p>Country: {{ user.country }}</p>
      <p>{{ user.email }}</p>
    </div>
  </div>
</div>
